<h3>About Rankings</h3>
<p>The calculations for rankings is based on
the <a href="http://www.bonziniusa.com/foosball/tournament/TournamentRankingSystem.html">Bonzini
  Player Ranking System</a> which is based on the FIDE (international
chess federation) ranking system. Bonzini has tweaked the FIDE system
to take into account the specifics of foosball.</p>

<h3>Ratings Scale and Ranking Classifications:</h3>
<p>The Elo system uses a so-called interval scale, which means that
  the differences in rating is the only factor of significance in
  terms of probabilities. The classification interval is simply the
  rating difference between the top and bottom of a ranking
  classification. In such a ranking classification the poorest player
  on a good day will play at the same level as the best player on an
  off day. Bonzini USA uses a classification interval (Ranking level)
  of 500 points, to make it easy to recognize when a player changes
  ranking classifications (i.e., whenever they cross a multiple of 500
  points threshold, like 1000, 1500, 2000, etc.).</p>

<dl>
<dt>Novice</dt><dd>(0-499 Points, Initial Rating = 250 points): From a
    true beginner (player exposed to foosball for the first time) to
    the player who has developed the basic skills involved in
    foosball.</dd>
<dt>Novice-Elite</dt><dd> (500-999 Points, Initial Rating = 750): Moderately skilled, but lacks the level of skills or consistency necessary to be "competitive" in major tournament open division events (i.e., against Expert-Elite and Master rated players). Note: since it is unlikely a Beginner would enter a tournament, most new players entering a tournament for the first time are initially rated in this classification.</dd>
<dt>Expert</dt><dd> (1000-1499 Points, Initial Rating = 1250): Has the skills to be "competitive" in major tournament open division events (i.e., against Expert-Eite and Master rated players). Is good by ordinary standards, but not likely to win many matches in major tournament open division events.</dd>

<dt>Expert-Elite</dt><dd> (1500-1999 Points, Initial Rating = 1750): Has the skills to beat "anyone" (e.g., Master or Master-Elite rated player) in a given major tournament open division match, but not likely to be able to win enough of those matches in a row (i.e., beat everyone) to win a major tournament open division event.</dd>

<dt>Master</dt><dd> (2000-2499 Points, Initial Rating = 2250): Has the skills to beat <em>everyone</em> (i.e., win) in a given major tournament open division event.</dd>

<dt>Master-Elite</dt><dd> (2500 Points and above, Initial Rating =
    2750): The most "elite" players, expected to win or place highly
    in any given major tournament open division event. (Note: no one
    is given this ranking as an initial (average) rating, it can only
    be obtained by earning points in major tournament events).</dd>
</dl>
