<h2><%= @player.display_name %></h2>
<%= render :partial => "form" %>

<h3>Games</h3>
<% if @player.games.count == 0 %>
<p>No games played yet</p>
<% else -%>
<ul>
<%= render @player.games %>
</ul>
<% end -%>
