@import ZURB-foundation

header
  margin-bottom: 1em

form
  @extend .nice
  input[type=email], input[type=text], input[type=number]
    @extend .input-text
  input[type=submit]
    margin-top: 2em
    @extend .button
    @extend .blue
    @extend .round
  select
    font-size: 150%

table
  tbody
    tr td
      padding: 9px 10px

td.player.avatar
  img, a
    vertical-align: middle
    display: inline-block

.rank
  text-align: right

dl
  dt
    float: left
    font-weight: bold
    padding-right: 5px
    &:after
      content: ":"
  dd
    margin-bottom: 1em
