@import ZURB-foundation

header
  margin-bottom: 2em
  background-color: #aaa
  .container
    min-height: 60px
  a img
    max-height: 50px
    padding-top: 5px
  ul.nav-bar
    background: transparent
    border: none
    margin: 6px 0
    li, a
      border: none
      color: #369
      &:hover
        color: #eee
    li
      float: right

form
  @extend .nice
  input[type=email], input[type=text], input[type=number]
    @extend .input-text
  input[type=submit]
    margin-top: 2em
    @extend .button
    @extend .blue
    @extend .round
  select
    font-size: 150%

table
  width: 100%
  tbody
    tr td
      padding: 9px 10px
      &.actions
        text-align: center
    tr:nth-child(even)
      background-color: #f9f9f9
    td.player.avatar
      font-size: 120%
      img, a
        vertical-align: middle
        display: inline-block

.game
  span
    font-weight: bold
  abbr
    font-weight: lighter
    border-bottom: none
.winner
  color: green

.rank
  text-align: right

dl.terms
  dt
    float: left
    font-weight: bold
    padding-right: 5px
    &:after
      content: ":"
  dd
    margin-bottom: 1em
